body {
    font-family: Arial, sans-serif;
    background-color: #dddddd; /* Set background to grey */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto 0; /* Center the container horizontally and add top margin */
    padding: 20px;
    background-color: #ffffff; /* Set container background to white */
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.profile {
    width: 58%;
    padding-left: 2%;
    text-align: left;
}
.contact {
    width: 24%;
    text-align: left;
}

.profile h1 {
    margin: 0;
}

.profile p {
    margin: 0;
}

.profile-photo {
    width: 200px; /* Increased size */
    height: auto;
    border-radius: 50%; /* make it circular */
}

header h1 {
    margin-top: 0;
}

section {
    margin-bottom: 20px;
}

section h2 {
    margin-bottom: 10px;
}

.project {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.project h3 {
    margin-top: 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 600px) {
    .profile {
        text-align: center;
    }

    header {
        flex-direction: column;
        align-items: center;
    }
}
